.logo{
    padding: 110px 0px 0px 5%;
}

.logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.spacer {
    flex: 1 1 auto;
}

.icon{
    transition: 1.5s;
}

.icon:hover{
    scale: 1.2;
}